
.side-nav {
    position: fixed;
    height: 60vh;
    width: fit-content;
    padding: 1em;
    background: #1a1a1a;
    margin-top:1em;
    border-radius: 10px;
}

.side-nav button {
    display: block;
    margin-top:3em;
}

.name-input {
    width: 50%;
}

.donations-container-admin {
    margin-left: 40vh;
    margin-top: 0.5vh;
}