.novaObavijest {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

#my-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
  
#modal-content {
    background-color: #1a1a1a;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}
  
#close-btn {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
#close-btn:hover,
#close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
#modal-title {
    text-align: center;
    margin-top: 0;
}
  
#my-modal label {
    display: inline-block;
    margin-bottom: 5px;
}
  
#title-input,
#message-input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    border-bottom: 0.5px solid #949497; 
    border-radius: 2px;
}
  
#my-modal button {
    display: block;
    margin: 10px auto 0;
    background-color: #000;
}

.importantNotifications {
    width: 100vh;
    height: fit-content;
    padding: 2em;
}

.vaznaObavijest {
    height: fit-content;
    max-width:  50vh;
    background-color: #1a1a1a;
    text-align: left;
    text-indent: 10px;
    border-radius: 6px;
    margin-top: 20px;   
    word-wrap: break-word;
    white-space: normal;
}

.vaznaObavijest p {
    padding: 1em;
}

.vaznaObavijestHeader {
    background-color: darkred;
    border-radius: 6px 6px 0 0;
    height: fit-content;
}

.vaznaObavijestHeader h3 {
    display: inline-block;
    margin: 0;
}

.vaznaObavijestHeader h4 {
    display: inline-block;
    margin: 0;
    margin-left: 55px;
}

.nevaznaObavijest {
    height: fit-content;
    max-width:  50vh;
    background-color: #1a1a1a;
    text-align: left;
    text-indent: 10px;
    border-radius: 6px;
    margin-top: 20px;   
    word-wrap: break-word;
    white-space: normal;
    margin: 2em;
}

.nevaznaObavijest p {
    padding: 1em;
}

.nevaznaObavijestHeader {
    background-color: darkgreen;
    border-radius: 6px 6px 0 0;
    height: fit-content;
}