#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;  
}

.nav-holder {
  display: inline-block;
  background-color: #1a1a1a;
  width: 100%;
}

.nav-stranice li{
  display: inline;
  list-style-type: none;
  padding: 2em;
}

nav h2, nav ul {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  margin-top: 18px !important;
}